{% extends "admin/admin_base.html" %}
{% block title %}書件細節{% endblock %}

{% block panel %}
<div id="function_stack">
	管理工具 &gt; 環評書件 &gt; 詳細內容
</div>

<h1>書件詳細內容</h1>
<hr/>

<div>
	<form id="detail" name="detail" method="POST">
		<!-- 輸入區 -->
		<h4>文號</h4>
		<div><input type="text" name="" value="{{id}}" disabled="disabled" /></div>
		<h4>開發單位</h4>
		<div><input type="text" name="" value="{{developer}}" class="L" /></div>
		<h4>座標</h4>
		<div>
			<input type="text" name="" value="{{lat}}" class="S" />，
			<input type="text" name="" value="{{lng}}" class="S" />
		</div>
		<h4>影響</h4>
		<div>
			<input name="impact" type="checkbox" value="air" /> 空氣
			<input name="impact" type="checkbox" value="noise" /> 噪音
			<input name="impact" type="checkbox" value="quake" /> 振動
			<input name="impact" type="checkbox" value="water" /> 水質
			<input name="impact" type="checkbox" value="traffic" /> 交通
			<input name="impact" type="checkbox" value="???" /> 生態
			<input name="impact" type="checkbox" value="ground" /> 土壤
		</div>
		<h4>檔案</h4>
		<div><input type="text" name="" value="{{file}}" disabled="disabled" /></div>
		<div class="clear"></div>
		<!-- 動作按鈕 -->
		<div class="buttons">
			<input type="button" value="更新" />
			<input type="submit" value="取消" />
		</div>
		<div class="clear"></div>
	</form>
</div>
{% endblock %}
